<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to movie recommendation website</h1>
    <h3></h3>
  

<div>
  <form action="/movie_recommendation" method="POST">
    <label for="movie">Enter a movie name</label>
    <br>
      <textarea name="movie" rows="2" cols="30"></textarea>>
    <br>
    <input type="submit" value="Submit">
  </form>
  <br>
  <a href="http://192.168.181.65:8080/High_Rated_Movies?">
    <button>High Rated Movies</button>
  </a>
  <br>
  <br>
  <a href="http://192.168.181.65:8080/Popular_Movies?">
    <button>Popular Movies</button>
  </a>
  <br>
  <br>
  <a href="http://192.168.181.65:8080/Latest_Movies">
    <button>Latest Movies</button>
  </a>
  <h1> Recommended movies</h1>
  <div style="width: 50%; margin: auto">

    {% for movie in movies %}
    
    <div style="padding: 5px; background-color: #EEE; margin: 10px">
        <p style="font-size: 14px">{{movie}}</p>
        
        
    </div>
    {% endfor %}
  
</div>
</body>
</html>